.BuildControls {
    width: 100%;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

@media (min-width: 1000px) {
    .BuildControls {
        padding: 10px 0;
        height: 41.6vh;
        padding-bottom: 35px;
    }
}

.totalPrice {
    color: #222;
    font-size: 1.2em;
    display: inline;
    width: 290px; 
    display: inline;
}

.totalPrice p {
    display: inline;
    justify-content: space-between;
    margin-right: 117px;
}


.OrderButton {
    margin-top: 22px;
    background-color:#F9E02A;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.2em;
    padding: 20px 0px;
 
    width: 300px;
    border-radius: 7.5px;
    box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    position: relative; 
    top: -1px;
    /* box-shadow: 2px 5px 2px #eee; */
}

.OrderButton:disabled {
    background-color: #dbdfe2;
    cursor: not-allowed;
    color: #B3B6B8;
    border: 1px solid #ccc;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}