.NavigationItems {
    /* for mobile devices */
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

@media (min-width: 500px) {
    /* for Desktop devices */
    .NavigationItems {
        flex-flow: row;
        display: flex;
    }
}